APP_NAME=ICONVINA Mini ERP
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=ChangeMe123!
APP_ADMIN_FULL_NAME=System Administrator
APP_ADMIN_EMAIL=admin@iconvina.local
APP_ADMIN_PHONE=

DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=iconvina_erp
DB_USERNAME=root
DB_PASSWORD=
