body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif !important;
}

html {
    font-family: 'Quicksand', sans-serif !important;
    scroll-behavior: smooth;
}

.userForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
}

.avtGrid {
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.avtGrid img {
    max-width: 200px;
    padding: 20px;
}

.inforForm {
    background-color: blueviolet;
    width: 80%;
    padding: 20px;
}